#main{
    border: 1px solid transparent;
    width: 92%;
    margin: auto;
    margin-top: 30px;
    height: 450px;
    display: flex;
    cursor: pointer;
    margin-top: 30px;

    
   
    
}
#main>div:nth-child(1){
    border: 1px solid transparent;
    width: 25%;
}
#main>div:nth-child(2){
    border: 1px solid transparent;
    width: 50%;
}
#main>div:nth-child(3){
border: 1px solid transparent;
width: 25%;
}
#ist{
    display: grid;
    border: 1px solid transparent;
    
    ;
    
    
}
#ist>div:nth-child(1){
    border: 1px solid  transparent;
    width: auto;
    height: 150px;
}
#ist>div:nth-child(2){
    border: 1px solid transparent;
    width: auto;
    height: 150px;
}
#ist>div:nth-child(3){
    border: 1px solid  transparent;
    width: auto;
    height: 145px;
}
#ist>div>img{
    width:300px;
    margin: auto;
    margin-left: 8px;
    height: 149px;

}
#two{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: auto;
    height: auto;
    

}
#two>div{
    border: 0px solid transparent;
    
    
}
#midpic>div{
    border: 0px solid transparent;
    width: 220px;
    height: 147px;
    
}
#midpic>div>img{
    width: 309px;
    height: 150px;
    margin-right: 2px;
    
}
#three>div{
    border: 0px solid transparent;
    width: 320px;
    height: 148px;
    
    
}
#three>div>img{
    width: 310px;
    height: 149px;
    margin-right: 20px;
    
}
#last>div{
    border: 1px solid transparent;
    width: 100%;
    height: 148px;
    
}
#last>div>img{
    width: 105%;
    height: 145px;
}