#round{
    border: 0px solid transparent;
    width: 99%;
    height: 400px;
    margin-top: 5px;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(2,1fr);
    cursor: pointer;
}
#round>div>img{
    width: 100%;
    height: 100%;
    margin: auto;
}